{{ hostname }} is a sequence: {{ hostname is sequence }}
{{ hostname }} is a boolean: {{ hostname is boolean }}
{{ hostname }} is a float: {{ hostname is float }}
{{ hostname }} is a number: {{ hostname is number }}
{{ hostname }} is a mapping: {{ hostname is mapping }}
{{ hostname }} is an iterable : {{ hostname is iterable }} 
{{ hostname }} is an integer: {{ hostname is integer }}
{{ hostname }} is a string: {{ hostname is string }}
