String_test
{{ hostname }} is string: {{ hostname is string }}
{{ ip_address }}/{{ mask }} is string: {{ ipaddress is string }}
Integer_test
{{ hostname }} is integer: {{ hostname is integer }}
{{ ip_address }}/{{ mask }} is integer: {{ ipaddress is integer }}
Float_test
{{ hostname }} is float: {{ hostname is float }}
{{ ip_address }}/{{ mask }} is float: {{ ipaddress is float }}
Number_test
{{ hostname }} is number: {{ hostname is number }}
{{ ip_address }}/{{ mask }} is number: {{ ipaddress is number }}
sequence_test
{{ hostname }} is sequence: {{ hostname is sequence }}
{{ ip_address }}/{{ mask }} is sequence: {{ ipaddress is sequence }}
mapping_test
{{ hostname }} is mapping: {{ hostname is mapping }}
{{ ip_address }}/{{ mask }} is mapping: {{ ipaddress is mapping }}
iterable_test
{{ hostname }} is iterable: {{ hostname is iterable }}
{{ ip_address }}/{{ mask }} is iterable: {{ ipaddress is iterable }}
